*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@font-face {
	font-family: Comfortaa;   /* nome da assegnare al font */
	src: local(Comfortaa),    /* nome del font eventualmente gi� installato sulla macchina */
		 url(./font/Comfortaa/static/Comfortaa-Bold.ttf)  format('truetype'); /*url= chiedere la risorsa allo stesso server da dove è stata scaricata la pagina*/
	font-weight: normal;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap'); 
@font-face {
	font-family: BBHBartle;   /* nome da assegnare al font */
	src: local(BBHBartle),    /* nome del font eventualmente gi� installato sulla macchina */
		 url(./font/BBH_Bartle/BBHBartle-Regular.ttf)  format('truetype'); /*url= chiedere la risorsa allo stesso server da dove è stata scaricata la pagina*/
	font-weight: normal;
	font-style: normal;
}

/*colorazioni utilizzate*/
:root {
  --cream: #EFF8E2;
  --lightGrey: #CECFC7;
  --lavander: #ADA8B6;
  --darkPurple: #23022E;
  --purple: #573280;
}

/*background color*/
.bg-cream { background-color: var(--cream) !important; }
.bg-lightGrey { background-color: var(--lightGrey) !important; }
.bg-lavander { background-color: var(--lavander) !important; }
.bg-darkPurple { background-color: var(--darkPurple) !important; }
.bg-purple { background-color: var(--purple) !important; }

/*text color*/
.text-cream { color: var(--cream) !important; }
.text-lightGrey { color: var(--lightGrey) !important; }
.text-lavander { color: var(--lavander) !important; }
.text-darkPurple { color: var(--darkPurple) !important; }
.text-purple { color: var(--purple) !important; }

/*border color*/
.border-cream { border-color: var(--cream) !important; }
.border-lightGrey { border-color: var(--lightGrey) !important; }
.border-lavander { border-color: var(--lavander) !important; }
.border-darkPurple { border-color: var(--darkPurple) !important; }
.border-purple { border-color: var(--purple) !important; }

html,body{
  background-color: lightGrey;
}
#wrapper{
  margin-top: 60px;
  padding: 20px;
  text-align: center;
  font-family: Comfortaa,sans-serif;
}
#title{
  font-family: Comfortaa,sans-serif;
  color: #23022E;
  font-size: 20px;
}
.navbar {
  font-family: Comfortaa, sans-serif;
}

/*Main: options body */
#main > #optionsbody{
  border: 3px solid #EFF8E2;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
